body {
    font-family: 'Whitney', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #36393f;
    color: #ecf0f1;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.chatbox {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 2px solid #2f3136;
}

.input-box {
    display: flex;
    align-items: center;
    background: #40444b;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: #40444b;
    color: #ecf0f1;
    transition: all 0.5s ease-in-out;
}

input[type="text"]:focus {
    background: #4e5259;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(135deg, #7289da, #6b7fda);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(135deg, #6b7fda, #7289da);
}

.spoiler {
    background-color: #2f3136;
    color: #2f3136;
    cursor: pointer;
}

/* Responsive Design for Smaller Screens */
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 18px;
    }

    .chatbox {
        padding: 10px;
    }

    .input-box {
        flex-direction: column;
        align-items: stretch;
    }

    input[type="text"] {
        margin-bottom: 10px;
        font-size: 14px;
    }

    button {
        width: 100%;
    }
}